<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>controller.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerBill</servlet-name>
    <servlet-class>controller.ManagerBill</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerCategoryServlet</servlet-name>
    <servlet-class>controller.ManagerCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>controller.AdminUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>controller.ChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutAdminServlet</servlet-name>
    <servlet-class>controller.LogoutAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerProductServlet</servlet-name>
    <servlet-class>controller.ManagerProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadProductServlet</servlet-name>
    <servlet-class>controller.UploadProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>controller.ReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerBrandServlet</servlet-name>
    <servlet-class>controller.ManagerBrandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controller.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsletterServlet</servlet-name>
    <servlet-class>controller.NewsletterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeliveryServlet</servlet-name>
    <servlet-class>controller.DeliveryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertProductServlet</servlet-name>
    <servlet-class>controller.InsertProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertProductServletx</servlet-name>
    <servlet-class>controller.InsertProductServletx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>controller.GetImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBill</servlet-name>
    <url-pattern>/ManagerBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryServlet</servlet-name>
    <url-pattern>/ManagerCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutAdminServlet</servlet-name>
    <url-pattern>/LogoutAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerProductServlet</servlet-name>
    <url-pattern>/ManagerProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadProductServlet</servlet-name>
    <url-pattern>/UploadProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBrandServlet</servlet-name>
    <url-pattern>/ManagerBrandServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsletterServlet</servlet-name>
    <url-pattern>/NewsletterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeliveryServlet</servlet-name>
    <url-pattern>/DeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertProductServlet</servlet-name>
    <url-pattern>/InsertProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertProductServletx</servlet-name>
    <url-pattern>/InsertProductServletx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/GetImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<filter-class>filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
  <filter-name>AdminFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
</filter-mapping>





  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <display-name>Laptop Shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>